---
layout: basic
title: Jordi Tolosa
---
<h3 class="ml-30 mt-80">
    WORKS
</h3>

<section class="carousel">
    <div class="reel">
        {% assign categories = site.data.categories %}
        {% for cat in categories %}
            <article>
                <a class="image featured" href="categories/{{ cat.url }}">
                <img alt="" loading="lazy" src="images/categories/{{ cat.image }}"/>
                </a>
                <header>
                    <h3>
                        <a href="categories/{{ cat.url }}">
                            {{ cat.title }}
                        </a>
                    </h3>
                </header>
            </article>
        {% endfor %}
    </div>
</section>
<h3 class="exib-title">
    EXHIBITIONS
</h3>
<section class="carousel">
    <div class="exib-container ml-30">
        {% assign exhibitions = site.data.exhibitions %}
        {% for exhib in exhibitions %}
            <article>
                <a class="image featured" href="{{ exhib.url }}">
                    <div class="article-img-cont">
                        <img loading="lazy" src="images/news/{{ exhib.image }}"/>
                    </div>
                </a>
                <header>
                    <h3>
                        <a href="{{ exhib.url }}">
                        {{ exhib.title }}
                        <br/>
                        {{ exhib.date }}
                        </a>
                    </h3>
                </header>
            </article>
        {% endfor %}
        
    </div>
</section>
