<meta charset="utf-8"/>
<link href="/img/favicon.gif" rel="shortcut icon"/>
<link href="/img/favicon.gif" rel="icon"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Jordi Tolosa, artista conceptual nascut a Badalona" name="description"/>
<!--Facebook meta tags -->
<meta content="website" property="og:type"/>
<meta content="Jordi Tolosa" property="og:title"/>
<meta content="/img/jordi.png" property="og:image"/>
<meta content="Jordi Tolosa, artista conceptual nascut a Badalona" property="og:description"/>
<meta content="1426953417630" property="og:updated_time"/>
<link href="/assets/css/main.css" rel="stylesheet"/>